.rotY {
    transform: rotateY(180deg);
}

.d-no {
    display: none;
}

.d-flx {
    display: flex;
}

.m-20 {
    margin: 20px;
}

.z-190 {
    zoom: 190%;
}

.h-100 {
    height: 100px;
}

.w-120 {
    width: 120px;
}

.w-150 {
    width: 150px;
}